.body{
    margin:0;
    padding:0;
}
body{
    background-color:#D6EFFF;
    text-align:center;
}
.container{
    height:70%;
    justify-content: center;
    align-items: center;
    display:flex; 
}

.game{
    height:64vmin;
    width:64vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin; 
    
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0.0,0.0,0.1);
    font-size: 8vmin;
    color:black;
    background-color: blueviolet;

}
.box.player-o {
    color: blue; /* Change the color for player O */
}

.box.player-x {
    color: red; /* Change the color for player X */
}
#reset-button{
    padding:1rem;
    font-size:1.25rem;
    background-color:rgb(198, 163, 209);
    border-radius: 1rem;
    color:rgb(24, 24, 24);
    border:transparent;
    box-shadow: 0 0 1rem rgba(0.0,0.0,0.1);
    margin-top: 20vmin;
}
#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:rgb(198, 163, 209);
    border-radius: 1rem;
    color:rgb(24, 24, 24);
    border:transparent;
    box-shadow: 0 0 1rem rgba(0.0,0.0,0.1);
}
#msg{
    color:black;
    font-size: 8vmin;
}
.msg-container{
    margin-bottom: 20vmin;
}
.hide{
    display:none;
}
@keyframes glitter {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.glitter {
    animation: glitter 0.5s infinite;
}

